html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: "Righteous";
    src: url("https://fonts.googleapis.com/css?family=Righteous");
}
.wall {
    min-height: 100%;
    background-color: #855c39;
    display: flex;
}

.door-frame {
    position: absolute;
    margin: auto;
    left: 28%;
    top: 18%;
    width: 44%;
    height: 100%;
    background-color: #582704;
}

.door {
    position: relative;
    margin: auto;
    top: 6%;
    width: 85%;
    height: 100%;
    background-color: #8B4513;
}

.doorhandle {
    position: relative;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    top: 55%;
    left: 6%;
    background-color: yellow;
}

.light {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 60vh solid transparent;
    border-right: 60vh solid transparent;
    border-bottom: 250vh solid white;
    opacity: 0.1;
    z-index: 1;
    top: -120%;
    left: calc(50% - 60vh);
    transform-origin: 50% 0%;
    animation: roll 20s infinite linear;
}
.text{
    font-family: Righteous;
    font-size: 20vh;
    font-style: normal;
    color: #EBB1B1;
}
.doorname-text{
    position: absolute;
    top: -4vh;
    left: 31%;
}
@keyframes roll {
    from {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(0);
    }
}
.sticker{
    position: absolute;
    background-position: center;
    width: 10vh;
    height: 10vh;
    background-size: 100% 100%;

}
.sticker1{
    background-position: center;
    background-image: url("/img/youtube.png");
    top: 55vh;
    left: 80vw;
    background-color: #FBD9D9;
}
.sticker2{
    background-position: center;
    background-image: url("/img/vk.png");
    top: 62vh;
    left: 76vw;
    background-color: #C4C4C4;
}
.sticker3{
    background-position: center;
    background-image: url("/img/inst.png");
    top: 40vh;
    left: 74vw;
    background-color: #C4C4C4;
}
#green1-1{
    position: absolute;
    left: 0%;
    top: 0%;
    max-width: 100%;
    max-height:100%;
}
#green1-2{
    position: absolute;
    left: 0%;
    top: 0%;
    max-width: 50%;
    max-height:50%;
}
#green2-1{
    position: absolute;
    left: 70vw;
    top: 0%;
    max-width: 100%;
    max-height: 45%;
}
#green2-2{
    position: absolute;
    left: 80vw;
    top: 0%;
    max-width: 100%;
    max-height: 100%;
}