html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family: "Righteous";
    src: url("https://fonts.googleapis.com/css?family=Righteous");
}
.wall {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #855c39;

}

.door-frame {
    position: absolute;
    margin: auto;
    left: 19%;
    top: 15%;
    width: 62%;
    height: 85%;
    background-color: #582704;
}

.door {
    position: relative;
    margin: auto;
    top: 4%;
    width: 85%;
    height: 96%;
    background-color: #8B4513;
}

.doorhandle {
    position: relative;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    top: 55%;
    left: 6%;
    background-color: yellow;
}
.text{
    font-family: Righteous;
    font-size: 5vh;
    font-style: normal;
    color: #EBB1B1;
}
.doorname-text{
    position: absolute;
    top: 2vh;
    left: 20.5%;
}
.sticker{
    position: absolute;
    background-position: center;
    width: 7vh;
    height: 7vh;
    background-size: 100% 100%;

}
.sticker1{
    background-position: center;
    background-image: url("/img/youtube.png");
    top: 49vh;
    left: 0vw;
    background-color: #FBD9D9;
}
.sticker2{
    background-position: center;
    background-image: url("/img/vk.png");
    top: 55vh;
    left: 84vw;
    background-color: #C4C4C4;
}
.sticker3{
    background-position: center;
    background-image: url("/img/inst.png");
    top: 40vh;
    left: 83vw;
    background-color: #C4C4C4;
}
.light {
    position: relative;
    width: 0;
    height: 0;
    border-left: 60vh solid transparent;
    border-right: 60vh solid transparent;
    border-bottom: 250vh solid white;
    opacity: 0.1;
    z-index: 1;
    top: -40vh;
    left: calc(50% - 60vh);
    transform-origin: 20% 0%;
    animation: roll 20s infinite linear;
}
@keyframes roll {
    from {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    to {
        transform: rotate(0);
    }
}
#green1-1{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 50%;
    max-height: 50%;
}
#green1-2{
    position: absolute;
    left: 0%;
    top: 0%;
    max-width: 0;
    max-height:0;
}
#green2-1{
    position: absolute;
    max-width: 0;
    max-height: 0;
}
#green2-2{
    position: absolute;
    left: 70%;
    top: 0%;
    max-width: 50%;
    max-height: 50%;
}
#door-href{

}